@layer components {
  .cart {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 360px;
    width: 100%;
    border-radius: 8px;
    border: 6px solid #4D4D4D;
    padding: 10px;

    .cartTitle {
      color: #4D4D4D;
      font-size: 30px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 20px;
    }

    .cartList {
      border-block: 1px solid #4d4d4d;
      padding-block: 34px;
    }

    .totalPrice {
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;
      color: #4D4D4D;
      font-size: 20px;
      font-weight: 700;

      dd {
        margin: 0;
      }
    }
  }
}