.search-bar {
  border-radius: 4px;
  border: 1px solid #BFC8E5;
  display: flex;
  width: 327px;
  padding: 10px;
  align-items: center;
  gap: 8px;

  .search {
    color: #151B32;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
    border: 0;
    width: 327px;
  }
}